@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidifi</h1>
    <p class="lead">Vidifi is a web application to manage movie rental subscriptions.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Customers</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at massa eu libero rhoncus facilisis. Nulla eu semper ipsum, quis pellentesque dui. Fusce sit amet imperdiet libero. Mauris faucibus malesuada turpis ut tincidunt. Nunc dapibus urna lobortis nisl suscipit, sit amet tempor lectus convallis. Curabitur in nibh vitae quam fringilla venenatis sed in libero. Suspendisse feugiat molestie velit, et cursus ligula laoreet nec. Nam in eros placerat, accumsan elit quis, dictum justo.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Subscriptions</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at massa eu libero rhoncus facilisis. Nulla eu semper ipsum, quis pellentesque dui. Fusce sit amet imperdiet libero. Mauris faucibus malesuada turpis ut tincidunt. Nunc dapibus urna lobortis nisl suscipit, sit amet tempor lectus convallis. Curabitur in nibh vitae quam fringilla venenatis sed in libero. Suspendisse feugiat molestie velit, et cursus ligula laoreet nec. Nam in eros placerat, accumsan elit quis, dictum justo.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Movie Library</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at massa eu libero rhoncus facilisis. Nulla eu semper ipsum, quis pellentesque dui. Fusce sit amet imperdiet libero. Mauris faucibus malesuada turpis ut tincidunt. Nunc dapibus urna lobortis nisl suscipit, sit amet tempor lectus convallis. Curabitur in nibh vitae quam fringilla venenatis sed in libero. Suspendisse feugiat molestie velit, et cursus ligula laoreet nec. Nam in eros placerat, accumsan elit quis, dictum justo.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>