@model Vidifi.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>

    <li>@Model.MembershipType.MembershipName</li>
    @if (!String.IsNullOrEmpty(Model.Birthdate))
    {
        <li>@Model.Birthdate</li>

    }
</ul>

